<article class="article-card">
  <div class="article-card__media">
    <iframe [src]="safeUrl" frameborder="0" allowfullscreen></iframe>
    <div *ngIf="article.category" class="article-card__category">
      {{ article.category }}
    </div>
  </div>

  <div class="article-card__content">
    <!-- Article metadata -->
    <div class="article-card__meta">
      <span *ngIf="article.date" class="article-card__date">{{ article.date }}</span>
      <span *ngIf="article.readTime" class="article-card__read-time">
        <svg xmlns="http://www.w3.org/2000/svg" class="article-card__read-time-icon" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        {{ article.readTime }}
      </span>
    </div>

    <!-- Title with link to article -->
    <h2 class="article-card__title">
      <a [routerLink]="['/article', article.id]">{{ article.title }}</a>
    </h2>

    <!-- Excerpt -->
    <p *ngIf="article.excerpt" class="article-card__excerpt">{{ article.excerpt }}</p>

    <!-- Author and tags -->
    <div class="article-card__footer">
      <div *ngIf="article.author" class="article-card__author">
        Par {{ article.author }}
      </div>

      <div *ngIf="article.tags && article.tags.length" class="article-card__tags">
        <span *ngFor="let tag of article.tags" class="article-card__tag">
          #{{ tag }}
        </span>
      </div>
    </div>
  </div>
</article>
