.header {
  background-color: #000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.header__logo img {
  height: 40px;
}

.header__nav a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: white;
  transition: color 0.2s ease-in;
}

.header__nav a:hover {
  color: #e53935; /* rouge média */
}
